.genre-dropdown{
    background-color: var(--theme);
    border: none;
    color: var(--purple-grey);
    border: 2px solid var(--purple-grey);
    padding: 0.7rem;
    width: 72.5vw;
    border-radius: 0.3rem;
}