.custom-audio-player{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: -10;
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgba(14,2,21,05);
}
.display-image-player{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.duration-range{
    filter: hue-rotate(25deg);
    width: 50%;
}
.duration-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
}
.volume-range{
    filter: hue-rotate(25deg);
    width: 40%;
}
.audio-btn{
    cursor: pointer;
}
@media (max-width:500px){
    .custom-audio-player{
        justify-content: flex-start;
        margin-right: 1%;
        margin-left: 1%;
        width: 98%;
        gap: 1rem;
    }
    .volume-range{
        width: 30%;
    }
}